@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Lista de Productos";
}

<div class="row">
    @foreach (var item in Model)
    {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">
                                    @item.Nombre
                                   @* @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                                <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    }*@
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@item.Imagen1" width="100%" alt="@item.Nombre">
                        <img src="@item.Imagen2" width="30%" alt="@item.Nombre">
                        <img src="@item.Imagen3" width="30%" alt="@item.Nombre">
                        </div>
               
                        <div class="col-md-6">
                            <div class="card-body">
                            <p class="card-text"><b>Código: </b>@item.Codigo</p>
                           @* <p class="card-text"><b>Descripción: </b>@item.Descripcion1</p>*@
                            <p class="card-text"><b>Contenido: </b>@item.Contenido</p>@*
                            <p class="card-text"><b>Precio: </b>@item.Precio</p>*@
                            <p class="card-text"><b>Descuento: </b>@item.Descuento</p>
                            <p class="card-text"><b>Valoracion: </b>@item.Valoracion</p>
                            <p class="card-text"><b>Categoria: </b>@item.CategoriaProducto</p>
                            <p class="card-text"><b>Linea: </b>@item.Linea.Nombre</p>
                            <p class="card-text"><b>Caracteristica: </b>@item.Caracteristica.Nombre</p>
                               
                            <p class="card-text ">
                                @if (item.Stock > 1)
                                {
                                            <span class="badge bg-success text-white">DISPONIBLE</span>
                                }                               
                                else
                                {
                                            <span class="badge bg-primary text-white">SIN STOCK</span>
                                }
                            </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill"></i> Ver Detalles</a>
                                    <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Agregar al carrito (Precio @item.Precio.ToString("c"))</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    }
</div>

<div style="position:fixed; right:25px; bottom:25px;" class="text-white">
    <a asp-controller="Productos" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i>Agregar Nuevo
    </a>
</div>